---
http_interactions:
- request:
    method: get
    uri: http://www.omdbapi.com/?apikey=apikey&t=Cars
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Thu, 24 Jun 2021 15:28:43 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"Title":"Cars","Year":"2006","Rated":"G","Released":"09 Jun 2006","Runtime":"117
        min","Genre":"Animation, Comedy, Family","Director":"John Lasseter, Joe Ranft","Writer":"John
        Lasseter, Joe Ranft, Jorgen Klubien","Actors":"Owen Wilson, Bonnie Hunt, Paul
        Newman","Plot":"A hot-shot race-car named Lightning McQueen gets waylaid in
        Radiator Springs, where he finds the true meaning of friendship and family.","Language":"English,
        Italian, Japanese, Yiddish","Country":"United States","Awards":"Nominated
        for 2 Oscars. 28 wins & 34 nominations total","Poster":"https://m.media-amazon.com/images/M/MV5BMTg5NzY0MzA2MV5BMl5BanBnXkFtZTYwNDc3NTc2._V1_SX300.jpg","Ratings":[{"Source":"Internet
        Movie Database","Value":"7.1/10"},{"Source":"Rotten Tomatoes","Value":"74%"},{"Source":"Metacritic","Value":"73/100"}],"Metascore":"73","imdbRating":"7.1","imdbVotes":"378,686","imdbID":"tt0317219","Type":"movie","DVD":"01
        Feb 2016","BoxOffice":"$244,082,982","Production":"Walt Disney Pictures, Pixar
        Animation Studios","Website":"N/A","Response":"True"}'
  recorded_at: Fri, 25 Jun 2021 12:23:15 GMT
recorded_with: VCR 6.0.0
